Administrative_Boundaries/NUTS_RG_20M_2021_3035.cpg
Administrative_Boundaries/NUTS_RG_20M_2021_3035.dbf
Administrative_Boundaries/NUTS_RG_20M_2021_3035.prj
Administrative_Boundaries/NUTS_RG_20M_2021_3035.shp
Administrative_Boundaries/NUTS_RG_20M_2021_3035.shx
OLD/extract_europe.py
NUTS.ipynb
